* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSw_-J8_4b9O83ByoAeLBQQs2vqomom0zTF6t9a9GylXA&s'); */
    background: linear-gradient(red, blue);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-attachment: fixed;
    background-size: cover;
}

.paragraph {
    border: 2px solid brown;
    color: aqua;
}

ol {
    list-style-type: bengali;
    color: azure;
    background-color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
}



li {
    padding: 8px;
    margin-left: 42px;
    text-decoration: overline;

}

.container {
    /* display: flex;
    flex-direction: row; */
    display: block;
    margin: 0 30px;
}

.box {
   
    box-shadow: inset -10px -10px 10px 10px black,
        inset 10px 10px 10px 10px black,
        8px 8px 8px #5fc45f;
    text-align: justify;
    margin: 10px;
    padding: 35px 38px;
    color: brown !important;
    border-radius: 8px;
    width: 30%;
    max-width: 800px;
    display: inline-block;
}

div {
    padding: 10px;
    margin: 10px;

}

.heading {
    font-size: x-large;
    forced-color-adjust: auto;
    text-align: center;
    padding-bottom: 8px;
    margin-bottom: 5px;
    border-bottom: 3px solid #5fc45f;
}